In [1]:
# Inna Baloyan 09/02/2019

# Load zip, geocodes data
import pandas as pd

# Read data file into the dataframe

zips_geocodes_datafile = "data/zips_geocodes.csv"
zips_geocodes_df = pd.read_csv(zips_geocodes_datafile)
zips_geocodes_df.head()

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,08903,New Brunswick,NJ,40.513854,-74.445098,-5,1,"40.513854, -74.445098"
1,08072,Quinton,NJ,39.546172,-75.413670,-5,1,"39.546172, -75.41367"
2,07510,Paterson,NJ,41.011428,-74.304793,-5,1,"41.011428, -74.304793"
3,08808,Broadway,NJ,40.737213,-75.046926,-5,1,"40.737213, -75.046926"
4,07847,Kenvil,NJ,40.880380,-74.620090,-5,1,"40.88038, -74.62009"

In [2]:
zips_geocodes_df.describe()
#print(zips_geocodes_df.sort_values("City"))
print(zips_geocodes_df["City"])

0        New Brunswick
1              Quinton
2             Paterson
3             Broadway
4               Kenvil
5          Newtonville
6       Palisades Park
7        Lanoka Harbor
8           Belleville
9              Beverly
10           Princeton
11              Leonia
12         Mount Tabor
13     Wallpack Center
14             Stanton
15             Clifton
16             Trenton
17             Haskell
18              Newark
19              Mahwah
20         Maple Shade
21          Manahawkin
22        East Hanover
23            Cranbury
24        Roselle Park
25           Hardyston
26          Stillwater
27             Trenton
28             Paramus
29      Mountain Lakes
            ...
732        Port Murray
733          Clementon
734            Audubon
735    Seaside Heights
736               Lodi
737            Fanwood
738             Newark
739             Oxford
740         Birmingham
741        South River
742            Peapack
743           Vineland
744         Bedminster
745            Brielle
746           Magnolia
747     Pompton Plains
748        Farmingdale
749             Pomona
750           Lincroft
751         New Vernon
752        Jersey City
753        New Milford
754        East Orange
755        Haddonfield
756            Trenton
757           Helmetta
758             Newark
759         Clarksburg
760          Greendell
761          Budd Lake
Name: City, Length: 762, dtype: object